<!DOCTYPE html>
<html>
<head>
  <title>Date</title>
</head>
<body>
  <h1>Today</h1>
  # Wednesday, September 11, 2019
  <% date = Time.new %>
  <p><%= "The date is " + date.strftime("%A, %B, %Y") %></p>
</body>
</html>
