<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Date</title>
</head>
<body>
  <h1>Today</h1>
  # Wednesday, September 11, 2019
  <% date = Time.new %>
  <p><%= "The date is " + date.strftime("%A, %B %d, %Y")%></p>
=======
  <title></title>
</head>
<body>
  <h1>Today</h1>
>>>>>>> e7ee67fbf29eceda0bec07a3cf6d42a5b90ecf1f
</body>
</html>
