<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Date</title>
  </head>

  <body>
    <h1>Today</h1>

    <% date_time = DateTime.now.strftime("The date is %A, %B %d, %Y")%>
    <p><%= date_time  %></p>
  </body>

</html>